body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(209, 216, 222);
    height: 100%;
}

#container {
    padding-top: 200px;
    margin:auto;
    width:50%;
    text-align: center;
}